# .obsidian

# Ignore env-specific files.
.obsidian/workspace.json

# Ignore appearance-based files. 
.obsidian/appearance.json
.obsidian/graph.json

# Ignore user-preference files.
#.obsidian/hotkeys.json

